<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="workerRepository" class="com.zatkhey.repository.MemoryWorkerRepository">
    </bean>
    <bean id="taskRepository" class="com.zatkhey.repository.MemoryTaskRepository">
    </bean>
    <bean id="assignService" class="com.zatkhey.service.AssignServiceImpl">
        <constructor-arg name="taskService" ref="taskService"/>
    </bean>
    <bean id="reportGenerationService" class="com.zatkhey.service.ReportGenerationServiceImpl">
        <constructor-arg name="taskService" ref="taskService"/>
        <constructor-arg name="workerService" ref="workerService"/>
    </bean>
    <bean id="taskService" class="com.zatkhey.service.TaskServiceImpl">
        <constructor-arg name="taskRepository" ref="taskRepository"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
    </bean>
    <bean id="workerService" class="com.zatkhey.service.WorkerServiceImpl">
        <constructor-arg name="workerRepository" ref="workerRepository"/>
        <constructor-arg name="idGenerator" ref="idGenerator"/>
    </bean>
    <bean id="reportView" class="com.zatkhey.view.FormattedConsoleReportView">
    </bean>
    <bean id="idGenerator" class="com.zatkhey.service.IdGenertorImpl">
    </bean>
</beans>